<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="books" class="min-w-full grid grid-cols-1 xsm:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-y-10 md:gap-y-10 md:gap-x-0 xl:gap-y-10 justify-items-center">
    <div class='rounded-xl bg-yellow-300 overflow-hidden max-w-[18rem] h-[26rem] xsm:max-w-[14rem] xsm:h-[20rem] sm:max-w-[18rem] sm:h-[25rem] md:max-w-[14rem] md:h-[21rem] xl:max-w-[16rem] xl:h-[24rem]'>
      <%= image_tag('https://m.media-amazon.com/images/I/71aG+xDKSYL._AC_UF1000,1000_QL80_.jpg', class:'object-cover w-full h-full') %>
    </div>
    <div class='rounded-xl overflow-hidden max-w-[18rem] h-[26rem] xsm:max-w-[14rem] xsm:h-[20rem] sm:max-w-[18rem] sm:h-[25rem] md:max-w-[14rem] md:h-[21rem] xl:max-w-[16rem] xl:h-[24rem]'>
      <%= image_tag('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQHv2LgBcAojD9tLZcCZwOM1TB-Pm_9B9EY2zBZE5McZOnDdnN1', class:'object-cover w-full h-full') %>
    </div>
    <div class='rounded-xl overflow-hidden max-w-[18rem] h-[26rem] xsm:max-w-[14rem] xsm:h-[20rem] sm:max-w-[18rem] sm:h-[25rem] md:max-w-[14rem] md:h-[21rem] xl:max-w-[16rem] xl:h-[24rem]'>
      <%= image_tag('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSlWR55VTSq5rQ5bjdm9bjNtT75d0KZcd8Lv1Jn72v-GGxQPJaa', class:'object-cover w-full h-full') %>
    </div>
    <div class='rounded-xl overflow-hidden max-w-[18rem] h-[26rem] xsm:max-w-[14rem] xsm:h-[20rem] sm:max-w-[18rem] sm:h-[25rem] md:max-w-[14rem] md:h-[21rem] xl:max-w-[16rem] xl:h-[24rem]'>
      <%= image_tag('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQWsrvYy2LCr_u1e3NaApQ_QQKCjdISkQbc_j5SKoUmg24k8FSn', class:'object-cover w-full h-full') %>
    </div>
    <div class='rounded-xl overflow-hidden max-w-[18rem] h-[26rem] xsm:max-w-[14rem] xsm:h-[20rem] sm:max-w-[18rem] sm:h-[25rem] md:max-w-[14rem] md:h-[21rem] xl:max-w-[16rem] xl:h-[24rem]'>
      <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSecUKvoidcYmQyu45L7bizY5P9JxPwp2PMAUK7v7yRi0XItKup', class:'object-cover w-full h-full') %>
    </div>
    <div class='rounded-xl overflow-hidden max-w-[18rem] h-[26rem] xsm:max-w-[14rem] xsm:h-[20rem] sm:max-w-[18rem] sm:h-[25rem] md:max-w-[14rem] md:h-[21rem] xl:max-w-[16rem] xl:h-[24rem]'>
      <%= image_tag('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTlj6mvrmQaChErPKyXN7KC3KDj4U-RxR2gHGvcTIsp6lUfqsG4', class:'object-cover w-full h-full') %>
    </div>
    <div class='rounded-xl overflow-hidden max-w-[18rem] h-[26rem] xsm:max-w-[14rem] xsm:h-[20rem] sm:max-w-[18rem] sm:h-[25rem] md:max-w-[14rem] md:h-[21rem] xl:max-w-[16rem] xl:h-[24rem]'>
      <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv93AZq-ryMFkUq4jTiVGQ5yflG59Umu6kkbxjCPvEsQ1CKAN6', class:'object-cover w-full h-full') %>
    </div>
  </div>
</div>
